extends ../wrapper

block content
	- let back = mountpoint + '/' + admin.name;
	if (admin.options.behavior === 'child') && fk
		- back = mountpoint + '/' + pt + '/' + row[fk]
		
	.admin-container
		.admin.clear-fix.mdc-elevation--z1
			div(data-jsclass="adminController" data-mountpoint= mountpoint data-model= admin.name data-id= row.id data-redirect= back)
			
				.page-header
					h2
						
						a.back-button(href= mountpoint + '/' + admin.name + '/' + row.id)
							i.material-icons arrow_back_ios
						= admin.name + ': edit row ' + row.id
						
						if canDelete
							.pull-right.action
								.delete-button
									i.material-icons delete_forever
										
				.page-content
					.admin-form
						form.form-validation(data-jsclass="formValidator" data-submitter="#submitter")
							.flextable(data-jsclass="flexTable" data-break="screen-xsmall,screen-small")
								ul
									li
									li
								ul
									for property in admin.options.editColumns
										if property !== fk
											li.label.edit
												= admin.getColumn(property).options.label
												ul
													li.data!= admin.getColumn(property).getForm(row, prepared[property])

									if (admin.options.behavior !== 'reference')
										// belongs to many relationships (through tables)
										for manyThrough in admin.options.hasManyThrough
											li.label
												= manyThrough.as
												ul
													li.data!= admin.getColumn(manyThrough.as).getForm(row,prepared[manyThrough.as],{resolved:manyThroughs[manyThrough.as]})
														
							section.form-group.pull-right.button-bar
								a.mdc-button(href= back) Cancel
								button#submitter.mdc-button.mdc-button--raised(disabled).primary-button
									span.mdc-button__label Save
							
						.ajax-errors
	//	
		p prepared
		pre= JSON.stringify(prepared,"",2)
		
		p manyThroughs
		pre= JSON.stringify(manyThroughs,"",2)
		
		p Options
		pre= JSON.stringify(admin.options,"",2)
