extends ../wrapper

block content
	.admin-form-container
		.admin-form.clear-fix.mdc-elevation--z1
			.admin(data-jsclass="adminController" data-mountpoint= mountpoint data-model= admin.name)
				
				.page-header
					h2
						= admin.name + ' table '
						.pull-right
							button.mdc-button.add-button
								i.material-icons add_circle
					
				.page-content
					section
						.input-group
							input.form-control(type="text" name="q" value= q placeholder="Search " + admin.name)
							span.input-group-btn
								button.btn.btn-default.search-button(type="button") Go

					if !rows.length
							section
								p No rows found
					else
						.flextable(data-jsclass="flexTable" data-break="screen-xsmall,screen-small")
							ul
								li id
								for property in admin.options.listColumns
									li= property
							ul
								for row in rows
									li.instance-select= row.id
										ul
											for col in admin.options.listColumns
												li= row[col]
						
						if pagination.pages > 1
							ul.pagination(data-jsclass="paginationController")
								if pagination.prev != pagination.page
									li
										a(href="#{pagination.uri}&p=#{pagination.prev}")
											i.material-icons keyboard_arrow_left
								else
									li.disabled
										a(href="#")
											i.material-icons keyboard_arrow_left
										
								li.disabled.pagination-elipsis-start
									a(href="#")
										i.material-icons more_horiz
											
								for p in pagination.pages
									if p == pagination.page
										li.active.pagination-page
											a(href="#{pagination.uri}&p=#{p}")= p
									else
										li.pagination-page
											a(href="#{pagination.uri}&p=#{p}")= p
								
								li.disabled.pagination-elipsis-end
									a(href="#")
										i.material-icons more_horiz

								if pagination.next != pagination.page
									li
										a(href="#{pagination.uri}&p=#{pagination.next}")
											i.material-icons keyboard_arrow_right
								else
									li
										a(href="#")
											i.material-icons keyboard_arrow_right
