extends wrapper

block content
	.page-content
		p Home
	

		div.markdown-editor(data-jsclass="markdownEditor" data-target=".current-editor" data-content=".content")
			strong Editor:
			.current-editor
			.view-mode
				label Markdown <input type=radio name=inputformat value=markdown checked>
				label &nbsp;<input type=radio name=inputformat value=prosemirror> WYSIWYM
			
			p
				strong Result:
			textarea.content(name="content") This is a comment written in [Markdown](http://commonmark.org). *You* may know the syntax for inserting a link, but does your whole audience?&#13;&#13;So you can give people the **choice** to use a more familiar, discoverable interface.
	
	
	
