doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    link(rel="shortcut icon" href="/favicon.ico")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no, minimal-ui, viewport-fit=cover")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    meta(name="format-detection" content="telephone=no")
    link(rel="apple-touch-icon" href="/apple-touch-icon.png")
    meta(name="apple-mobile-web-app-title" content= sitename)
      
    title= sitename
    
    if env === 'production'
      link(rel='stylesheet', href='/dist/css/userapp.min.css')
    else
      link(rel='stylesheet', href='/dist/css/userapp.css')
            
  body.mdc-typography
    script(nonce= nonce).
      var result;
      var cookie=(result=new RegExp('(?:^|; )responsive=([^;]*)').exec(document.cookie))?decodeURIComponent(result[1]):null;
      if(cookie){document.body.className = document.body.className + ' ' + cookie;}

    #splash(style="position:fixed;top:0;left:0;right:0;bottom:0;text-align:center;background-color:#333;z-index:99999;")
      #splash-logo
        i.material-icons emoji_people

    include components/drawer

    .mdc-drawer-app-content
      
      include components/navigation
      
      .top-margin
        
        .progress.mdc-linear-progress.mdc-linear-progress--indeterminate.mdc-linear-progress--closed(role="progressbar")
          .mdc-linear-progress__buffering-dots
          .mdc-linear-progress__buffer
          .mdc-linear-progress__bar.mdc-linear-progress__primary-bar
            span.mdc-linear-progress__bar-inner
          .mdc-linear-progress__bar.mdc-linear-progress__secondary-bar
            span.mdc-linear-progress__bar-inner
        
        #user-alerts.mdc-elevation--z10

        #content-body(data-hijax="true")
          .mdc-layout-grid
            .mdc-layout-grid__inner
              .mdc-layout-grid__cell--span-12
                block content
    
    #fab(data-hijax="true")
      block fab
    
    .mdc-snackbar
      .mdc-snackbar__surface
        .mdc-snackbar__label
    
    // expose app.locals.publicOptions to client side javascript gobal var 'publicOptions'
    script(nonce= nonce)!= "var publicOptions = " + JSON.stringify(publicOptions) + ';'
    
    if publicOptions.STRIPE_PUBLIC
      // stripe for subscriptions
      script(src="https://js.stripe.com/v3/")
      
    if publicOptions.RECAPTCHA_PUBLIC
      // CAPTCHA for forms
      script(src="https://www.google.com/recaptcha/api.js?render=" + publicOptions.RECAPTCHA_PUBLIC)
    
    if env === 'production'
      script(src="/dist/js/userapp.min.js")
    else
      script(src="/dist/js/userapp.js")
        
    script(nonce= nonce).
      App.boot();
      
    #ephemeral
