extends wrapper

block amdincontent
	- let back = mountpoint + '/' + admin.name;
	if (admin.options.behavior === 'child') && fk
		- back = mountpoint + '/' + pt + '/' + row[fk]
		
	.admin-container
		.admin.clear-fix.mdc-elevation--z1
			div(data-sargasso-class="adminController" data-mountpoint= mountpoint data-model= admin.name data-id= row.id data-redirect= back)
			
				.page-header
					h2
						a.back-button(href= mountpoint + '/' + admin.name + '/' + row.id)
							i.material-icons arrow_back_ios
						= admin.name + ': edit row ' + row.id
						
						if canDelete
							.pull-right.action
								.delete-button
									i.material-icons delete_forever
										
				.page-content
					.admin-form
						form.form-validation(action= mountpoint + '/' + admin.name + '/' + row.id method="PUT" data-sargasso-class="MolaMola" data-helpers="AdminHandler,BoilerplateHandler" data-submitter="#submitter" data-redirect= mountpoint + '/' + admin.name + '/' + row.id)
							input(type="hidden" name="_csrf" value= csrfToken data-payload)

							.flextable
								table
									tbody
										for property in admin.options.editColumns
											if property !== fk
												tr
													td.label.edit= admin.getColumn(property).options.label
													td.data!= admin.getColumn(property).getForm(row, prepared[property])

										if (admin.options.behavior !== 'reference')
											// belongs to many relationships (through tables)
											for join in admin.options.joins
												tr
													td.label= join.as
													td.data!= admin.getColumn(join.as).getForm(row,prepared[join.as],{resolved:joins[join.as]})
														
							section.input-group.pull-right.button-bar
								a.mdc-button(href= back) Cancel
								button#submitter.mdc-button.mdc-button--raised(disabled).primary-button
									span.mdc-button__label Save
							
						.ajax-errors
	//	
		p prepared
		pre= JSON.stringify(prepared,"",2)
		
		p joins
		pre= JSON.stringify(joins,"",2)
		
		p Options
		pre= JSON.stringify(admin.options,"",2)
