extends wrapper

block fab
	button.mdc-fab.mdc-fab--mini.app-fab-fixed
		.mdc-fab__ripple
		a.mdc-fab__icon.material-icons(href= mountpoint + '/' + admin.name + '/create') add

block amdincontent
	.admin-container
		.admin.clear-fix.mdc-elevation--z1
			div(data-sargasso-class="adminController" data-mountpoint= mountpoint data-model= admin.name)
				
				.page-header
					h2
						a.back-button(href= mountpoint + '/menu')
							i.material-icons arrow_back_ios
						= admin.name
								
				.page-content
					if admin.options.searchColumns.length
						if q
							section
								a.mdc-button.pull-right(href= mountpoint + '/' + admin.name)
									span.mdc-button__label
										i.material-icons close
								!= '<em>Found '+pagination.count+' row(s) matching:</em> <strong>' + q + '</strong>'
									
						else
							
							section.admin-search
								form.form-validation(data-sargasso-class="formValidator" data-submitter=".search-button")
									.input-group
										table
											tr
												td
													input(type="text" name="q" placeholder="Search " + admin.name data-validate={notEmpty:true})
												td
													select.select-css(name="property")
														for prop in admin.options.searchColumns
															option(value= prop)= prop
												td
													button.mdc-button.mdc-button--raised.search-button
														i.material-icons search

					if !rows.length
							section
								p No rows found
					else
						.admin-form
							.flextable
								table
									thead
										tr
											th Row
											for property in admin.options.listColumns
												th= property
									tbody
										for row in rows
											tr.select-row(data-row= row.id data-th="id")
												td(data-th="id")
													.div.data= row.id
												for col in admin.options.listColumns
													td(data-th= col)
														.div
															if admin.getColumn(col).getValueProducesMarkup
																!= admin.getColumn(col).getDisplayValue(row, prepared[row.id][col])
															else
																= admin.getColumn(col).getDisplayValue(row, prepared[row.id][col])
							
						include pagination
	//	
		p prepared
		pre= JSON.stringify(prepared,"",2)
		
		p Dependants
		pre= JSON.stringify(dependants,"",2)

		p References:
		pre= JSON.stringify(references,"",2)
