.input-group
	.uploadable-preview(data-name=columnName + '-preview')
		if thumb
			!= thumb
	.uploadable-form
		p.metadata
			if metadata && metadata.type
				| type: <strong>#{metadata.type}</strong> w: <strong>#{metadata.width}</strong> h: <strong>#{metadata.height}</strong>
			
		input(type="hidden" data-name= columnName name= name value= value data-payload)
		input(type="hidden" data-name= columnName + '-upload' name= uploadName data-payload)
		input(type="hidden" data-name= columnName + '-width' name= widthName data-payload)
		input(type="hidden" data-name= columnName + '-height' name= heightName data-payload)
		label.file-upload-label(for= columnName)
			i.material-icons cloud_upload
			!= '&nbsp;&nbsp;Choose file to upload'
		input.uploadable-input(id= columnName data-column-name= columnName data-sargasso-class="uploadableImage" data-target='[data-name=' + columnName + '-upload]' data-send-resized=(options.sendResized ? 'true': 'false') data-max-width=options.maxWidth data-max-height=options.maxHeight type="file" name= name + '-uploadable' accept= options.accepts)
		.input-ok-indicator.material-icons check_circle
		.validation-help
