.input-group.markdown-editor(data-sargasso-class="markdownEditor" data-target=".current-editor" data-content=".target")
	textarea.target(style="display:none" name= name data-validate= options.validate data-payload)= value
	.current-editor
	.view-mode.pull-right
		label Markdown <input type=radio name=inputformat value=markdown>
		= ' | '
		label <input type=radio name=inputformat value=prosemirror checked> WYSIWYG
	.input-ok-indicator.material-icons check_circle
	.validation-help.mdc-text-field-helper-text--persistent
