extends ../../../views/wrapper

block content
	.page-header
		h2
			a(href="/users/settings")
				i.material-icons arrow_back_ios
			|  Subscription
			
	.page-content

		- var canSubscribe = true

		- var cancelled = false


		if stripe && stripe.subscriptions
			
			if !stripe.subscriptions.data.length
				p You have no active subscription.

			each subscription in stripe.subscriptions.data
				- var start = subscription.created ? new moment(subscription.created * 1000).format('MM/DD/YYYY') : '';
				- var period_start = subscription.current_period_start ? new moment(subscription.current_period_start * 1000).format('MM/DD/YYYY') : '';
				- var period_end = subscription.current_period_end ? new moment(subscription.current_period_end * 1000).format('MM/DD/YYYY') : '';
				- var ended = subscription.ended_at ? new moment(subscription.ended_at * 1000).format('MM/DD/YYYY') : '';
				
				if subscription.cancel_at_period_end
					- ended = period_end;
					- cancelled = true;
				
				- var end = ended ? ' <strong class="highlighted"> will cancel on ' + ended + '</strong>' : '';

				p!= 'Started on <strong>' + start + '</strong>' + ' current period <strong>' + period_start + '</strong> through <strong>' + period_end + '</strong>' + end
		
				if paymentMethod
					p!= 'Your current <strong>' + paymentMethod.card.brand + '</strong> card ends with <strong>' + paymentMethod.card.last4 + '</strong> and expires on <strong>' + paymentMethod.card.exp_month + '/' + paymentMethod.card.exp_year + '</strong>'
					
			if stripe.subscriptions.data.length && !cancelled
				- canSubscribe = false
				p
					a(href="#" data-sargasso-class="ajaxButton" data-confirm="#confirm-dialog" data-confirm-prompt="Cancel Subscription?" data-endpoint='/api/users/subscription-cancel' data-no-hijax="true" data-method="delete" data-redirect="/users/subscription") Click Here 
					|  to cancel your subscription at end of current period.
					
			.flextable
				table
					thead
						tr
							th Date
							th Description
							th Start
							th End
							th Amount
							th Paid
					tbody
						if (upcoming && upcoming.lines && upcoming.lines.data.length) 
							each line in upcoming.lines.data

								- var date = new moment(upcoming.created * 1000).format('MM/DD/YYYY')
								- var prorate = line.proration ? '<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>' : ''
								- var startdate = new moment(line.period.start * 1000).format('MM/DD/YYYY')
								- var enddate = new moment(line.period.end * 1000).format('MM/DD/YYYY')
								- var amount = line.amount / 100
								- var description = line.plan ? line.plan.name : line.description

								tr
									td= date
									td Next bill
									td= startdate
									td= enddate
									td
									td
					
						if (invoices && invoices.data && invoices.data.length) 
							each invoice in invoices.data
								each line in invoice.lines.data
									- var date = new moment(invoice.created * 1000).format('MM/DD/YYYY')
									- var prorate = line.proration ? '<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>' : ''
									- var startdate = new moment(line.period.start * 1000).format('MM/DD/YYYY')
									- var enddate = new moment(line.period.end * 1000).format('MM/DD/YYYY')
									- var amount = line.amount / 100
									- var description = line.description
									- var paid = invoice.paid ? '<i class="material-icons" >check_circle</i>' : ''

									tr
										td= date
										td= description
										td= startdate
										td= enddate
										td= amount.toFixed(2)
										td!= paid

		if canSubscribe
			section.button-bar
				| Subscribe: 
				button.mdc-button.mdc-button--raised(data-sargasso-class="stripeClientCheckout" data-stripe-pk= publicOptions.STRIPE_PUBLIC  data-user-id= user.id data-email= user.email data-plan= publicOptions.STRIPE_YEARLY)
					span.mdc-button-label Yearly $10
				button.mdc-button.mdc-button--raised(data-sargasso-class="stripeClientCheckout" data-stripe-pk= publicOptions.STRIPE_PUBLIC  data-user-id= user.id data-email= user.email data-plan= publicOptions.STRIPE_MONTHLY)
					span.mdc-button-label Monthly $1

		#error-message
		
	// sometimes handy for debugging stripe objects
		p Stripe
		pre= JSON.stringify(stripe, null, 2)
		p paymentMethod
		pre= JSON.stringify(paymentMethod, null, 2)
		p upcoming
		pre= JSON.stringify(upcoming, null, 2)
		p invoices
		pre= JSON.stringify(invoices, null, 2)
	
